@model IEnumerable<DiarsWeek4.Models.Producto>

@{
    ViewData["Title"] = "Listado de Productos";
}

<h2 class="mt-4">@ViewData["Title"]</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Sku</td>
                    <td>@item.Nombre</td>
                    <td>@item.Stock</td>
                    <td>@item.Precio</td>
                    <td>
                        @if (item.Estado == "1")
                        {
                            <span class="badge bg-success text-white">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary text-white">Inactivo</span>
                        }
                    </td>
                    <td>
                        <!-- Botón Editar -->
                        <a asp-action="CreateEdit" asp-route-id="@item.Id"
                           class="btn btn-secondary rounded-circle me-2 d-inline-flex justify-content-center align-items-center"
                           style="width: 45px; height: 45px;" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <!-- Botón Eliminar -->
                        <button type="button" class="btn btn-danger rounded-circle d-inline-flex justify-content-center align-items-center"
                                style="width: 45px; height: 45px;"
                                data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </button>

                        @await Html.PartialAsync("_DeleteModal", item)

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success">
        No hay productos registrados.
    </div>
}
<p class="text-end"> 
    <a asp-controller="Producto" asp-action="CreateEdit" class="btn btn-outline-success">
        <i class="bi bi-plus-lg"></i>
        <strong>Nuevo Producto</strong>
	</a>
</p>